li{
    display: inline-block;
    margin: 5px 10px;
    padding: 4px;
    
}
.container{
   background-color:#1A6566;
   box-shadow:10px 10px black ;
   margin: 20px;
   border-radius: 10px;
    }

    .item{
    display: inline-block;
   background-color: rgb(2, 1, 46);
    padding: 10px;
    margin: 10px;
    width: 14%;
    border-radius: 10px;
    }
    .item:hover{
        background-color: #008cff;
       
    }
#pesquisar{
  width: 50%;
  float:left;
  padding: 3px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 20px;
}
#menu{
    overflow: hidden;
    background-color:#1A6566;
    box-shadow: 10px 10px black;
    width: 95%;
    padding: 20px;
    margin:10;
    text-decoration: none;
}
#menu a:hover{
    background-color: #283f69;
    color: white;
    border-radius: 10px;
}
#menu a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
    display: block;
    border-radius: 10px;
    background-color:rgb(214, 112, 43);
  
   
}


img{
    border-radius: 10px;    
}

.galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
div.gallery{
    margin: 5px;
    border: 3px solid #ccc;;
    border-radius: 10px;
    width:auto;   
    padding: 0px;
    
}
div.gallery:hover {
    border: 3px solid  #008cff;;
    border-radius: 10px;
}


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#5D8A66;
    color: rgb(0, 0, 0);
    margin: 10px;
    padding: 0;
}
.informação
{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap:wrap;
    background-color: #1A6566;
    border-radius: 10px;
    box-shadow: 10px 10px black;
    width: 90%;
    padding: 20px;
    margin: 20px;
}
#sobre{
    background-color: rgb(214, 112, 43);
    box-shadow: 10px 10px black;
    width: 30%;
    padding: 20px;
    margin: 20px;
    border-radius: 10px
}

 div{
    flex-direction:row;
    flex-wrap:wrap-reverse;
    justify-content:stretch;
    align-items: center;
 }
 

#jogos{
    background-color: #323050;
    box-shadow: 10px 10px black;
    padding: 20px;
    margin: 20px;
}
#acessórios{
   background-color: #323050;
   box-shadow: 10px 10px black;
   padding: 20px;
   margin: 20px;
}

footer{
    border-radius: 10px;
    background-color: #45214A;
    color: white;
    padding: 20px;
    text-align:justify;
}

    

#forms{
    color: #031111;
    text-align: center;
    background-color: #6e6b91;
    box-shadow: 10px 10px black;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}	

    


